node_modules/
.angular/
.vscode/
dist/
*.db
*.db-wal
*.db-shm
.DS_Store
.env
backend/bin/
backend/obj/
frontend/node_modules/
backend/node_modules/
backend/wwwroot/tiles/
backend/wwwroot/data/
**/wwwroot/tiles/
**/wwwroot/data/
tiles.db
*.mbtiles
*.exe
